<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BD_SICYPROHEntities" connectionString="metadata=res://*/Source.Data.DatabaseModel.csdl|res://*/Source.Data.DatabaseModel.ssdl|res://*/Source.Data.DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SRV-LEIPZIQ\SQL2014R211;Initial Catalog=BD_SICYPROH;User ID=disis;Password=CO77245592;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>